@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@theme {
  --color-*: initial;
  --font-display: 'Inter', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'monospace';

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --shadow-2xs: 0 1px color-mix(in oklch, var(--gray-950) 5%, transparent);
  --shadow-xs: 0 1px 2px 0 color-mix(in oklch, var(--gray-950) 5%, transparent);
  --shadow-sm:
    0 1px 3px 0 color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 1px 2px -1px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-md:
    0 4px 6px -1px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 2px 4px -2px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-lg:
    0 10px 15px -3px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 4px 6px -4px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-xl:
    0 20px 25px -5px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 8px 10px -6px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-2xl: 0 25px 50px -12px color-mix(in oklch, var(--gray-950) 25%, transparent);
}

@layer base {
  :root {
    --primary-50: oklch(95% 0.035 153.45);
    --primary-100: oklch(90% 0.07 153.45);
    --primary-200: oklch(85% 0.11 153.45);
    --primary-300: oklch(78% 0.14 153.45);
    --primary-400: oklch(73% 0.16 153.45);
    --primary-500: oklch(68.639% 0.17505 153.45);
    --primary-600: oklch(60% 0.16 153.45);
    --primary-700: oklch(50% 0.14 153.45);
    --primary-800: oklch(40% 0.11 153.45);
    --primary-900: oklch(30% 0.07 153.45);
    --primary-950: oklch(20% 0.035 153.45);

    --secondary-50: oklch(99.308% 0.00347 39.485);
    --secondary-100: oklch(95.658% 0.02228 38.335);
    --secondary-200: oklch(88.775% 0.06109 38.491);
    --secondary-300: oklch(82.293% 0.10193 37.884);
    --secondary-400: oklch(76.357% 0.14433 38.105);
    --secondary-500: oklch(71.245% 0.18478 37.768);
    --secondary-600: oklch(66.045% 0.22875 34.806);
    --secondary-700: oklch(56.578% 0.20175 34.336);
    --secondary-800: oklch(45.225% 0.15803 35.161);
    --secondary-900: oklch(33.025% 0.11169 36.546);
    --secondary-950: oklch(26.655% 0.08563 38.877);

    --gray-50: oklch(1 0 0);
    --gray-100: oklch(0.967 0.003 264.542);
    --gray-200: oklch(0.928 0.006 264.531);
    --gray-300: oklch(0.872 0.01 258.338);
    --gray-400: oklch(0.707 0.022 261.325);
    --gray-500: oklch(0.551 0.027 264.364);
    --gray-600: oklch(0.446 0.03 256.802);
    --gray-700: oklch(0.373 0.034 259.733);
    --gray-800: oklch(0.278 0.033 256.848);
    --gray-900: oklch(0.21 0.034 264.665);
    --gray-950: oklch(0.13 0.028 261.692);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-50: oklch(20% 0.035 190);
      --primary-100: oklch(30% 0.07 190);
      --primary-200: oklch(40% 0.11 190);
      --primary-300: oklch(50% 0.14 190);
      --primary-400: oklch(60% 0.16 190);
      --primary-500: oklch(68.639% 0.17505 190);
      --primary-600: oklch(73% 0.16 190);
      --primary-700: oklch(78% 0.14 190);
      --primary-800: oklch(85% 0.11 190);
      --primary-900: oklch(90% 0.07 190);
      --primary-950: oklch(95% 0.035 190);

      --secondary-50: oklch(26.655% 0.08563 38.877);
      --secondary-100: oklch(33.025% 0.11169 36.546);
      --secondary-200: oklch(45.225% 0.15803 35.161);
      --secondary-300: oklch(56.578% 0.20175 34.336);
      --secondary-400: oklch(66.045% 0.22875 34.806);
      --secondary-500: oklch(71.245% 0.18478 37.768);
      --secondary-600: oklch(76.357% 0.14433 38.105);
      --secondary-700: oklch(82.293% 0.10193 37.884);
      --secondary-800: oklch(88.775% 0.06109 38.491);
      --secondary-900: oklch(95.658% 0.02228 38.335);
      --secondary-950: oklch(99.308% 0.00347 39.485);

      --gray-50: oklch(0.13 0.028 261.692);
      --gray-100: oklch(0.21 0.034 264.665);
      --gray-200: oklch(0.278 0.033 256.848);
      --gray-300: oklch(0.373 0.034 259.733);
      --gray-400: oklch(0.446 0.03 256.802);
      --gray-500: oklch(0.551 0.027 264.364);
      --gray-600: oklch(0.707 0.022 261.325);
      --gray-700: oklch(0.872 0.01 258.338);
      --gray-800: oklch(0.928 0.006 264.531);
      --gray-900: oklch(0.967 0.003 264.542);
      --gray-950: oklch(1 0 0);
    }
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 w-fit flex justify-center items-center gap-2 rounded-md font-medium cursor-pointer disabled:pointer-events-none disabled:opacity-50
           focus-visible:ring transition-all duration-200;
  }

  .btn-primary {
    @apply bg-primary-500 text-primary-50 hover:bg-primary-600 hover:text-gray-100
           focus-visible:ring-primary-400;
  }

  .btn-primary.selected {
    @apply bg-primary-600;
  }

  .btn-secondary {
    @apply bg-secondary-500 text-gray-50 hover:bg-secondary-600 hover:text-gray-100
           focus-visible:ring-secondary-400;
  }

  .btn-secondary.selected {
    @apply bg-secondary-600;
  }

  .btn-ghost {
    @apply bg-gray-100 text-gray-900 hover:bg-gray-200 hover:text-gray-950;
  }

  .btn-ghost.selected {
    @apply bg-primary-100 text-primary-900;
  }

  .chip {
    @apply inline-block rounded-full px-2 py-1 text-sm bg-gray-50 font-medium text-gray-600 border border-gray-300 text-nowrap;
  }
}
