@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@theme {
  --color-*: initial;
  --font-display: 'Inter', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'monospace';

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --shadow-2xs: 0 1px color-mix(in oklch, var(--gray-950) 5%, transparent);
  --shadow-xs: 0 1px 2px 0 color-mix(in oklch, var(--gray-950) 5%, transparent);
  --shadow-sm:
    0 1px 3px 0 color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 1px 2px -1px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-md:
    0 4px 6px -1px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 2px 4px -2px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-lg:
    0 10px 15px -3px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 4px 6px -4px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-xl:
    0 20px 25px -5px color-mix(in oklch, var(--gray-950) 10%, transparent),
    0 8px 10px -6px color-mix(in oklch, var(--gray-950) 10%, transparent);
  --shadow-2xl: 0 25px 50px -12px color-mix(in oklch, var(--gray-950) 25%, transparent);
}

@layer base {
  :root {
    --gray-50: oklch(1 0 0);
    --gray-100: oklch(0.967 0.003 264.542);
    --gray-200: oklch(0.928 0.006 264.531);
    --gray-300: oklch(0.872 0.01 258.338);
    --gray-400: oklch(0.707 0.022 261.325);
    --gray-500: oklch(0.551 0.027 264.364);
    --gray-600: oklch(0.446 0.03 256.802);
    --gray-700: oklch(0.373 0.034 259.733);
    --gray-800: oklch(0.278 0.033 256.848);
    --gray-900: oklch(0.21 0.034 264.665);
    --gray-950: oklch(0.13 0.028 261.692);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --gray-50: oklch(0.13 0.028 261.692);
      --gray-100: oklch(0.21 0.034 264.665);
      --gray-200: oklch(0.278 0.033 256.848);
      --gray-300: oklch(0.373 0.034 259.733);
      --gray-400: oklch(0.446 0.03 256.802);
      --gray-500: oklch(0.551 0.027 264.364);
      --gray-600: oklch(0.707 0.022 261.325);
      --gray-700: oklch(0.872 0.01 258.338);
      --gray-800: oklch(0.928 0.006 264.531);
      --gray-900: oklch(0.967 0.003 264.542);
      --gray-950: oklch(1 0 0);
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-300);
    border-radius: 4px;
    border: 1px solid var(--color-gray-50);
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: var(--color-gray-300) var(--color-gray-50);
    }
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 w-fit flex justify-center items-center gap-2 rounded-md font-medium cursor-pointer disabled:pointer-events-none disabled:opacity-50
           focus-visible:ring transition-all duration-200;
  }

  .btn-primary {
    @apply bg-gray-950 text-gray-50 hover:bg-gray-800 hover:text-gray-100
           focus-visible:ring-gray-400;
  }

  .btn-primary.selected {
    @apply bg-gray-600;
  }

  .btn-ghost {
    @apply bg-gray-100 text-gray-900 hover:bg-gray-200 hover:text-gray-950;
  }

  .btn-ghost.selected {
    @apply bg-gray-100 text-gray-900;
  }

  .chip {
    @apply inline-block rounded-full px-2 py-1 text-sm bg-gray-50 font-medium text-gray-600 border border-gray-300 text-nowrap;
  }
}
