---
import { SOCIALS_URL } from '../assets/socials';
---

<footer class="py-6 mt-10 mb-10 sm:mb-0">
  <div
    class="flex flex-col md:flex-row items-center justify-between w-full lg:w-3/7 px-0 sm:px-4 lg:mx-auto"
  >
    <!-- Nombre y año -->
    <p class="text-sm text-gray-500">© 2025 Gabriel Oyarzo · Ingeniero Civil en Informática</p>

    <nav class="flex space-x-4 mt-3 sm:mt-0">
      <a href={SOCIALS_URL.mail} target="_blank" rel="noopener noreferrer">
        <button
          class="btn w-8 h-8 duration-200 text-gray-500 hover:text-gray-700"
          aria-label="Email"
        >
          <i class="fa-solid fa-envelope"></i>
        </button>
      </a>
      <a href={SOCIALS_URL.linkedIn} target="_blank" rel="noopener noreferrer">
        <button
          class="btn w-8 h-8 duration-200 text-gray-500 hover:text-gray-700"
          aria-label="Linkedin"
        >
          <i class="fa-brands fa-linkedin-in"></i>
        </button>
      </a>
    </nav>
  </div>
</footer>
