<footer class="bg-gray-50 py-6 mt-10">
  <div
    class="flex flex-col md:flex-row items-center justify-between w-full lg:w-3/7 mx-4 lg:mx-auto"
  >
    <!-- Nombre y año -->
    <p class="text-sm text-gray-500">
      © 2025 Gabriel Oyarzo · Ingeniero Civil en Informática
    </p>

    <nav class="flex space-x-4 mt-3 md:mt-0">
      <a href="mailto:gabrieloyarzoramirez@gmail.com" target="_blank" rel="noopener noreferrer">
        <button
          class="btn w-8 h-8 duration-200 text-gray-500 hover:text-gray-700"
          aria-label="Email"
        >
          <i class="fa-solid fa-envelope"></i>
        </button>
      </a>
      <a
        href="https://www.linkedin.com/in/gabriel-oyarzo-463298274/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button
          class="btn w-8 h-8 duration-200 text-gray-500 hover:text-gray-700"
          aria-label="Linkedin"
        >
          <i class="fa-brands fa-linkedin-in"></i>
        </button>
      </a>
    </nav>
  </div>
</footer>
