---
interface Section {
  label: string;
  id: string;
}

type Sections = 'HOME' | 'EXPERIENCE' | 'PROJECTS' | 'ABOUT' | 'CONTACT';

export const SECTION: Record<Sections, Section> = {
  HOME: {
    label: 'Inicio',
    id: 'inicio',
  },
  EXPERIENCE: {
    label: 'Experiencia',
    id: 'experiencia',
  },
  PROJECTS: {
    label: 'Proyectos',
    id: 'proyectos',
  },
  ABOUT: {
    label: 'Sobre mí',
    id: 'sobre-mi',
  },
  CONTACT: {
    label: 'Contacto',
    id: 'contacto',
  },
};

const SECTIONS = Object.values(SECTION);
---

<header id={SECTION.HOME.id} class="flex justify-center items-center py-3">
  <nav
    class="items-center font-semibold fixed px-3 top-11/12 md:top-3 mx-auto max-w-max rounded-full shadow-sm z-50 backdrop-blur-sm"
  >
    {
      SECTIONS.map((section) => (
        <a
          href={`#${section.id}`}
          class="duration-200 inline-block font-medium p-3 rounded-t-lg hover:text-gray-600 cursor-pointer"
        >
          {section.label}
        </a>
      ))
    }
  </nav>
</header>
